*{
    padding: 0px; margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1{
    float: left;
    font-size: 40px;
}

.wrapper{
    width: 920px;
    margin: 0 auto;
}

.content-header{
    background: #3A5795;    
    color: white;
    padding: 10px 0;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.content-header form{
    float: right;
}
.content-header label{
    font-size: 12px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}
.content-header label,
.content-header input{
    display: block;
}
.content-header input[type="checkbox"]{
    display: inline-block;
}
.group-form{
    float: left;
    margin-left: 10px;
}
.group-form a{
    color: #9cb4d8;
    font-size: 12px;
    text-decoration: none;
}
.content-header input[type="submit"]{
    background-color: #4267b2;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
    font-size: 12px;
    margin-top: 10px;
}

.content-middle{
    background: #edf0f5;
}
.content-middle .middle-left{
    float: left;
    width: 50%;
    margin-right: 5%;;
}
.content-middle .middle-right{
    float: left;
    width: 45%;
}


h2{
    margin-bottom: 40px; 
    margin-top: 18px;   
}

.content-middle ul li{
    list-style: none;
    font-weight: bold;
    margin-bottom: 30px;
}
.content-middle ul li span{
    font-weight: normal;
    margin-left: 10px;
    color: grey;
}

h3{
    margin-top: 10px;
    font-size: 35px;
}

.middle-right p:nth-child(2){
    color: grey;
    margin-bottom: 10px;
    font-size: 15px;
}

.middle-right input{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.middle-right input.inline{
    float: left;
    width: 49%;
    margin-right: 2%;
}
.middle-right input.inline_last{
    margin-right: 0%;
}

#birthday_info, #register_info{
    font-size: 12px;
    color: grey;
}

.middle-right p:last-child a,#register_info a{
    text-decoration: none;
    color: rgb(46, 113, 228);
}
#register_info a:hover{
    text-decoration: underline;
}

input[type="radio"]{
    display: inline-block;
    width: 20px;
    margin-top: 15px;
}
.middle-right input[type=submit]{
    background-color: #42B72A;
    color: white;
    font-size: 20px;
    padding: 5px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
}
.middle-right form{
    border-bottom: 1px solid grey;
    margin-bottom: 10   px;
}
.middle-right p:last-child{
    color: grey;
    margin-bottom: 50px;
}

::-webkit-input-placeholder{ font-size: 15px;}
input:-moz-placeholder{font-size: 15px;}

.content-footer{
    padding: 5px 0;
}
.content-footer a{
    text-decoration: none;
    font: 12px Helvetica, Arial, sans-serif;
    color: #8a8d91;
}
.content-footer li{
    display: inline-block;
    margin-right: 5px;
}
.content-footer ul:first-child{
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.content-footer p{
    color: grey;
    margin-top: 10px 0;
    font-size: 12px;
}